/* Generals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.marLef0_5rem {
  margin-left: 0.5rem;
}

.marRig0_5rem {
  margin-right: 0.5rem;
}

.btn {
  font-size: 1rem;
  padding: 1.5rem 3rem;
  border: none;
  border-radius: 2rem;
}

.btnYellow {
  color: white;
  background-color: rgba(233, 215, 88, 255);
}

.marTop1rem {
  margin-top: 1rem;
}

.marTop2rem {
  margin-top: 2rem;
}

.marTop0_5rem {
  margin-top: 0.5rem;
}